*.out
*.exe
*.bin
.*/
.vscode/*
waves/*
experimentation/*
simulator/.idea/*
simulator/cmake-build-debug/*
simulator/cmake-build-release/*
# CMakeLists.txt
another_arch_cpu.txt
*.dia
!experimentation/contiguous_allocator.cpp
!experimentation/contiguous_allocator.h
!experimentation/main.cpp